<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<Model3D>
		<CodingRules>6,5,36	</CodingRules><!--排层列-->		
		<GoodsSize>1000,1200,1300</GoodsSize><!--货物长宽高-->		
		<ProductOriPos>17473.725,3000,655</ProductOriPos><!--货物模型 起始绝对坐标 -->		
		<StockInEntranceOriPos>17473.725,200,1430</StockInEntranceOriPos><!--入库口坐标-->
		<ShelfOriPos>12694.44,-1999.992,1347</ShelfOriPos><!--01.01.01 坐标-->
		<ShelfDistance>-2390</ShelfDistance><!--货架 x 方向间距-->	
		
		<StackerOriPos_1>13749.056, -3407.414, 4108.809</StackerOriPos_1><!--堆垛机立柱1 -->
		<PlatformOriPos_1>13967.191, -3334.417, 699.658</PlatformOriPos_1><!-- 载货台 1-->
		<TopForkOriPos_1>13967.191, -3342.328, 820.658</TopForkOriPos_1><!--上叉 1-->
		<MiddleForkOriPos_1>13967.191, -3342.43, 785.158</MiddleForkOriPos_1><!--中叉 1-->
		<BottomForkOriPos_1>13967.191, -3342.478, 747.158</BottomForkOriPos_1><!--下叉 1-->
		<VIFS_1>13978.008, -3351.014, 1849.265</VIFS_1><!--VISF 1-->
		<StackerOriPos_2>13735.319, -8983.278, 4108.809</StackerOriPos_2><!--堆垛机立柱2 -->		
		<PlatformOriPos_2>13953.455, -8910.281, 701.015</PlatformOriPos_2><!-- 载货台 2-->
		<TopForkOriPos_2>13953.455, -8918.193, 822.015</TopForkOriPos_2><!--上叉 2-->
		<MiddleForkOriPos_2>13953.455, -8918.295, 786.515</MiddleForkOriPos_2><!--中叉 2-->
		<BottomForkOriPos_2>13953.455, -8918.343, 748.515</BottomForkOriPos_2><!--下叉 2-->
		<VIFS_2>13964.271, -8926.879, 1850.622</VIFS_2><!--VISF 2-->
		
		<conveyor_1>
			<speed>1</speed>			
			<backPos>17473.725,200.814,1430</backPos>
			<frontPos>17473.725,-800.814,1430</frontPos>			
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_1>
		<conveyor_2>
			<speed>1</speed>
			<backPos>19737.023,200,1430</backPos>
			<frontPos>19737.023,-800,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_2>
		<conveyor_3>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>15887.191,-1972.814,1430</leftPos>
			<rightPos>13967.191,-1972.814,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_3>
		<conveyor_4>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>17813.725,-1972.814,1430</leftPos>
			<rightPos>16953.725,-1972.814,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_4>
		<conveyor_5>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>20077.023,-1979.767,1430</leftPos>
			<rightPos>18867.023,-1979.767,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_5>
		<conveyor_6>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>17800,-1965,1425</leftPos>
			<rightPos>16980,-1965,1425</rightPos>
		</conveyor_6>
		<conveyor_7>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>17800,-1965,1425</leftPos>
			<rightPos>16980,-1965,1425</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_7>
		<conveyor_8>
			<speed>1</speed>
			<backPos>17473.725,-3144.814,1430</backPos>
			<frontPos>17473.725,-3486.814,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_8>
		<conveyor_9>
			<speed>1</speed>
			<backPos>19737.023,-3151.767,1430</backPos>
			<frontPos>19737.023,-3486.449,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_9>
		<conveyor_10>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>15887.191,-4658.449,1430</leftPos>
			<rightPos>13967.191,-4658.449,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_10>
		<conveyor_11>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>17813.725,-4658.449,1430</leftPos>
			<rightPos>16953.725,-4658.449,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_11>
		<conveyor_12>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>			
			<leftPos>20077.023,-4658.449,1430</leftPos>
			<rightPos>18867.023,-4658.449,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_12>
		<conveyor_13>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>17800,-1965,1425</leftPos>
			<rightPos>16980,-1965,1425</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_13>
		<conveyor_14>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>17800,-1965,1425</leftPos>
			<rightPos>16980,-1965,1425</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_14>
		<conveyor_15>
			<speed>1</speed>
			<backPos>17473.725,-5830.449,1430</backPos>
			<frontPos>17473.725,-6383.631,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_15>
		<conveyor_16>
			<speed>1</speed>
			<backPos>19737.023,-5830.449,1430</backPos>
			<frontPos>19737.023,-6383.631,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_16>
		<conveyor_17>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>15887.725,-7555.631,1430</leftPos>
			<rightPos>13967.725,-7555.631,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_17>
		<conveyor_18>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>17813.725,-7555.631,1430</leftPos>
			<rightPos>16953.725,-7555.631,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_18>
		<conveyor_19>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>19737.023,-7555.631,1430</leftPos>
			<rightPos>18867.023,-7555.631,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_19>
		<conveyor_20>
			<speed>1</speed>
			<backPos>19737.023,-8727.313,1430</backPos>
			<frontPos>19737.023,-9062.313,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_20>
		<conveyor_21>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>15887.191,-10234.313,1430</leftPos>
			<rightPos>13967.191,-10234.313,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_21>
		<conveyor_22>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>19737.023,-10234.313,1430</leftPos>
			<rightPos>16953.725,-10234.313,1430</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</conveyor_22>
		<ds_1>
			<speed>1</speed>
			<backPos>17473.725,-1972.814,1430</backPos>
			<frontPos>17473.725,-1972.814,1430</frontPos>		
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</ds_1>
		<ds_2>
			<speed>1</speed>
			<backPos>19737.023,-1979.767,1430</backPos>
			<frontPos>19737.023,-1979.767,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</ds_2>
		<ds_3>
			<speed>1</speed>
			<backPos>17473.725,-4658.449,1430</backPos>
			<frontPos>17473.725,-4658.449,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</ds_3>
		<ds_4>
			<speed>1</speed>
			<backPos>19737.023,-4658.449,1430</backPos>
			<frontPos>19737.023,-4658.449,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</ds_4>
		<ds_5>
			<speed>1</speed>
			<backPos>17473.725,-7555.631,1430</backPos>
			<frontPos>17473.725,-7555.631,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</ds_5>
		<ds_6>
			<speed>1</speed>
			<backPos>19737.023,-7555.631,1430</backPos>
			<frontPos>19737.023,-7555.631,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</ds_6>
		<ds_7>
			<speed>1</speed>
			<backPos>19737.023,-10234.313,1430</backPos>
			<frontPos>19737.023,-10234.313,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</ds_7>
		
		<stacker1_1>
			<speed>1</speed>
			<backPos>13967.191,-1979.767,1430</backPos>
			<frontPos>13967.191,-3342.328,1430</frontPos>		
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker1_1>

		<stacker1_2>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>13967.191,-3342.328,1430</leftBottomPos>
			<rightTopPos>0,-3342.328,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>			
		</stacker1_2>
		
		<stacker1_3>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker1_3>

		<stacker1_4>
			<speed>1</speed>
			<backPos>,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>13967.191,-3342.328,1430</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker1_4>

		<stacker1_5>
			<speed>1</speed>
			<backPos>13967.191,-3342.328,1430</backPos>
			<frontPos>13967.191,-4658.449,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker1_5>

		<stacker2_1>
			<speed>1</speed>
			<backPos>13953.455,-7555.631,1430</backPos>
			<frontPos>13953.455,-8918.343,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker2_1>

		<stacker2_2>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftBottomPos>13967.191,-8918.343,1430</leftBottomPos>
			<righttopPos>0,0,0</righttopPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker2_2>

		<stacker2_3>
			<speed>1</speed>
			<backPos>0,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker2_3>

		<stacker2_4>
			<speed>1</speed>
			<backPos>,0,0</backPos>
			<frontPos>0,0,0</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>13967.191,-8918.343,1430</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker2_4>

		<stacker2_5>
			<speed>1</speed>
			<backPos>13967.191,-8918.343,1430</backPos>
			<frontPos>13967.191,-10234.313,1430</frontPos>
			<leftPos>0,0,0</leftPos>
			<rightPos>0,0,0</rightPos>
			<leftTopPos>0,0,0</leftTopPos>
			<leftBottomPos>0,0,0</leftBottomPos>
			<rightTopPos>0,0,0</rightTopPos>
			<rightBottomPos>0,0,0</rightBottomPos>
		</stacker2_5>
	</Model3D>

	<MySqlParam>
		<!--数据库名称-->
		<DataBase>db_lps</DataBase>
		<!--数据源-->
		<DataSource>127.0.0.1</DataSource>
		<!--用户名称-->
		<UserId>root</UserId>
		<!--密码-->
		<Passsword>1234</Passsword>
	</MySqlParam>
</Config>